<a href="https://colab.research.google.com/github/AimjGuytidy/Neural_network/blob/master/ML_devops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install --upgrade google-cloud-bigquery

In [ ]:
# !set GOOGLE_APPLICATION_CREDENTIALS="C:\Users\user\Downloads\parfait-326913-0cd36d73431d.json"

In [ ]:
# !pip install --upgrade 'google-cloud-bigquery[bqstorage,pandas]'

In [ ]:
%load_ext google.cloud.bigquery

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
%%bigquery df --project parfait-326913 
SELECT
  mother_age,
  COUNT(1) AS num_babies,
  AVG(weight_pounds) AS avg_wt
FROM
  publicdata.samples.natality
WHERE
  year > 2000
GROUP BY mother_age
ORDER BY mother_age

Query complete after 0.01s: 100%|██████████| 1/1 [00:00<00:00, 133.28query/s]
Downloading: 100%|██████████| 45/45 [00:02<00:00, 15.79rows/s]

In [ ]:
df.head()

   mother_age  num_babies    avg_wt
0          10           3  7.533195
1          11          44  6.149945
2          12        1196  6.506330
3          13        7552  6.656063
4          14       44868  6.743684

In [ ]:
%%bigquery --project parfait-326913
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 271.37query/s]
Downloading: 100%|██████████| 1/1 [00:02<00:00,  2.85s/rows]

   total_rows
0   114420316

In [ ]:
# %%bigquery hardy --project parfait-326913
# SELECT 1,2
# FROM `bigquery-public-data.samples.gsod`

In [ ]:
# hardy.tail(12)